<div class="row">
    <div class="col">   
            <nav class="row navbar navbar-expand-lg navbar-light color">
                <a class="col-1" routerLink="/accueil"><img src="assets/logo/logo3.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text col-7 offset-3" id="navbarNavAltMarkup">
                    <div class="navbar-nav ml-auto survol row">
                        <a class="col-3 nav-item nav-link active" routerLink="/accueil">Accueil</a>
                        <a class="col-3 nav-item nav-link" routerLink="/catalog">Catalogue</a>
                        <a class="col-3 nav-item nav-link" routerLink="/panier">Panier</a>
                        <a class="col-3 nav-item nav-link" routerLink="/search">Chercher un produit</a>
                        <!-- <a class="nav-item nav-link" routerLink="/login">Liste des courses</a> -->
                    </div>
                </div>
            </nav>
     

    </div>
</div>